<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Website</title>
</head>
<body>
    <ul>
        <% for (let i of list) {%>
           <li>
            <div style="display:flex;">
                <p><%= i.name%></p>
                <p style="margin-left:7px;"><%= i.phone%></p>
                <p style="margin-left:7px;"><a style="text-decoration:none" href="/delete-info/?id=<%= i._id %>">x</a></p>
            </div>
           </li>
        <%}%>
    </ul>
    <div>
        <form action="/add-info" method="POST">
            <label for="Name">Name:</label>
            <input type="text" name="name">
            <br>
            <label for="Phone">Phone:</label>
            <input type="text" name="phone">
            <input type="submit">
        </form>
    </div>
    

    
</body>
</html>